openapi: 3.0.0
info:
  version: 1.0.0
  title: 'CPIC Guideline - CYP2D6'
  description: 'KGrid CPIC guidelines CYP2D6 Phenotype to Recommendation'
servers:
  - url: 'http://kgrid.med.umich.edu/stack2/knowledgeObject'
paths:
  /ark:/99999/fk49z9gr7p/result:
      post:
        description: Determine the pheno type based on the genotype of CYP2D6.
        operationId: pheno
        requestBody:
          description: Inputs of the genotype
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genoinputs'
        responses:
          '200':
            description: response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/output'
          default:
            description: unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
  /ark:/99999/fk4mc97w6m/result:
    post:
      description: Retrieve Codeine Dosing Recommendation based on CYP2D6 pheno type.
      operationId: recomm
      requestBody:
        description: Input of phenotype
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/phenoinputs'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/output'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    genoinputs:
      required:
        - allele1
        - allele2
        - diplotype
      properties:
        allele1:
          type: string
          example: '*1x2'
        allele2:
          type: string
          example: '*41'
        diplotype:
          type: string
          example: ''
    phenoinputs:
      required:
        - phenotype
        - choice
      properties:
        phenotype:
          type: string
          enum: ['Ultrarapid metabolizer', 'Normal metabolizer', 'Intermediate metabolizer', 'Poor metabolizer']
          example: 'Ultrarapid metabolizer'
        choice:
          type: string
          enum: ['0','1','2']
          example: '1'
    output:
      required:
        - result
      properties:
        result:
          type: string
          example: 'Result'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
