openapi: 3.0.0
info:
  version: 1.0.0
  title: 'CPIC - Atazanavir Guideline for UGT1A1'
  description: 'KGrid CPIC guidelines UGT1A1 Phenotype to Recommendation'
servers:
  - url: 'http://kgrid.med.umich.edu/stack2'
paths:
  /shelf/ark:/99999/fk4d79nq4z:
    get:
      description: Retrieve the knowledge object.
      operationId: getko
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DosingRecOutput'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /knowledgeObject/ark:/99999/fk4d79nq4z/result:
    post:
      description: Retrieve Dosing Recommendation based on the pheno type.
      operationId: recomm
      requestBody:
        description: inputs
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputs'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DosingRecOutput'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    inputs:
      required:
        - phenotype
        - choice
      properties:
        phenotype:
          type: string
          enum: ['Normal metabolizer', 'Intermediate metabolizer', 'Poor metabolizer']
          example: 'Normal metabolizer'
        choice:
          type: string
          enum: ['0','1','2']
          example: '1'
    DosingRecOutput:
      required:
        - result
      properties:
        result:
          type: string
          example: 'Dosing Recommendation:...'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
